/*          <COLOR>*/
:root{
    --color01: #fff;
    --color02: #000;
    --color03: #a34d10e1;

    --colorShadow001: #000000d2;
}
/*          </COLOR>*/


/*          <HEADER  MENU DESKTOP>        */
header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h3 {
    font-size: 2.5rem;
    color: var(--color01);
    text-shadow: 1px 1px 2px var(--colorShadow001);
    cursor: pointer;
}

header .logo h3 > span {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color03)
}

header .logo a{
    text-decoration: none;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header .menu-desktop nav ul li a {
    text-decoration: none;
    color: var(--color01);
    display: inline-block;
    transition: .2s;
}

header .menu-desktop nav ul li a:hover {
    transform: scale(1.05);
}

header .btn-contato button {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    width: 140px;
    height: 40px;
    border: 1px solid var(--color01);
    color: var(--color01);
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}

header .btn-contato button:hover{
    color: var(--color02);
    background-color: var(--color03);
    border: 1px solid var(--color02);
}
/*          </HEADER MENU DESKTOP>       */


/*          <SECTION HERO SITE>           */
section.hero-site {
    background-image: url("/images/BgInicioSite.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--color01);

}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-weight: 200;
    line-height: 70px;
    font-size: 4em;
    text-shadow: 2px 0px 2px var(--color02);
}

.hero-site .txt-hero h1 span {
    font-weight: 800;
    display: block;
}

.hero-site .txt-hero p {
    font-weight: 300;
    display: block;
    font-size: 20px;
    margin: 20px 0;
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--color01);
    color: var(--color01);
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}
.hero-site button:hover{
    color: var(--color01);
    background-color: var(--color03);
}
/*          </SECTION HERO SITE>              */



/*          <SECTION NOVIDADES>         */
section.novidades{
    background-color: var(--color03);
    width: 100%;
    height: 25vh;
}
section.novidades > .interface{
    height: 100%;
    width: 100%;
}
/*          </SECTION NOVIDADES>        */


/*          <SECTION VANTAGEM>              */
section.vantagens {
    padding: 80px 0;
}

.vantagens .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-container .img-itens img {
    max-width: 420px;
}

.vantagens .itens-container .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.vantagens .itens-container .txt-itens h3 span {
    font-weight: 200;
}
/*          </SECTION VANTAGEM>              */






/*          <FOOTER>      */
footer {
    background-color: var(--color03);
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer a {
    text-decoration: none;
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--color01);
    background-color: transparent;
    color: var(--color01);
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
}

footer .top-footer button:hover {
    background-color: var(--color01);
    color: var(--color02)
}

footer .middle-footer {
    margin: 20px 0;
}

footer .middle-footer a {
    color: var(--color01);
    margin: 0 15px;
    text-decoration: none;
}

footer .middle-footer a:hover {
    text-decoration: underline;
}

footer .button-footer {
    border-top: 2px solid var(--color01);
}

footer .button-footer p {
    color: var(--color01);
    margin-top: 15px;
}
/*          </FOOTER>       */