<footer>
        <div class="interface">
            <section class="top-footer">
                <a href="#">
                    <button><i class="bi bi-instagram"></i></button>
                </a>
                <a href="#">
                    <button><i class="bi bi-facebook"></i></button>
                </a>
                <a href="#">
                    <button><i class="bi bi-tiktok"></i></button>
                </a>
            </section>
            <section class="middle-footer">
                <a href="#">Suporte</a>
                <a href="#">Informações</a>
                <a href="#">Adm</a>
            </section>
            <section class="button-footer">
                <p> Copyright 2025 &copy; Adyllsxn Studios. Todos os direitos reservados</p>
            </section>
        </div>
    </footer>