<header>
        <div class="interface">

            <section class="logo">
                <a href="/"><h3>Leia<span>Ja</span></h3></a>
            </section>

            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li><a href="/">início</a></li>
                        <li><a href="#">livros</a></li>
                        <li><a href="#">categorias</a></li>
                        <li><a href="#">emprestimos</a></li>
                    </ul>
                </nav>
            </section>

            <section class="btn-contato">
                <a href="authentication">
                    <button>log in</button>
                </a>
            </section>

        </div>
    </header>