@page "/authentication"
@inherits AuthenticationPage
@layout EmptyLayout

<div class="inicialBg">
    <div class="Telalogin">
        <form class="info">
            <h1>Leia<span>Ja</span></h1>
            <input type="email" name="" id="" placeholder="exemple@gmail.com">
            <input type="password" name="" id="" placeholder="Password">
        </form>
        
        <div class="btn-login">
            <a href="/">
                <button>Login</button>
            </a>
        </div>
    
        <div class="Register">
            <p>Don't have on account? <a href="register">Register</a></p>
        </div>
        
    </div>
</div>


