@page "/authentication"
@inherits AuthenticationPage
@layout EmptyLayout

<div class="inicialBg">
    <div class="Telalogin">
        <form class="info">
            <h1>Leia<span>Ja</span></h1>
            <input type="email" name="" id="" placeholder="exemple@gmail.com">
            <input type="password" name="" id="" placeholder="senha">
        </form>
        
        <div class="btn-login">
            <a href="/">
                <button>Logar</button>
            </a>
            <a href="/">
                <button>Voltar</button>
            </a>
        </div>
    </div>
</div>


